<ion-header>
  <ion-toolbar>
    <ion-title>All Transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="theme-list-view">
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Salary Deposit</h2>
          <span class="date">May 02, 2022</span>
        </div>
        <div class="amount">$200 <ion-icon name="arrow-down-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Central Market</h2>
          <span class="date">May 05, 2022</span>
        </div>
        <div class="amount">$150 <ion-icon name="arrow-up-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Salary Deposit</h2>
          <span class="date">May 02, 2022</span>
        </div>
        <div class="amount">$200 <ion-icon name="arrow-down-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Central Market</h2>
          <span class="date">May 05, 2022</span>
        </div>
        <div class="amount">$150 <ion-icon name="arrow-up-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Salary Deposit</h2>
          <span class="date">May 02, 2022</span>
        </div>
        <div class="amount">$200 <ion-icon name="arrow-down-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Central Market</h2>
          <span class="date">May 05, 2022</span>
        </div>
        <div class="amount">$150 <ion-icon name="arrow-up-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Salary Deposit</h2>
          <span class="date">May 02, 2022</span>
        </div>
        <div class="amount">$200 <ion-icon name="arrow-down-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Central Market</h2>
          <span class="date">May 05, 2022</span>
        </div>
        <div class="amount">$150 <ion-icon name="arrow-up-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Salary Deposit</h2>
          <span class="date">May 02, 2022</span>
        </div>
        <div class="amount">$200 <ion-icon name="arrow-down-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Central Market</h2>
          <span class="date">May 05, 2022</span>
        </div>
        <div class="amount">$150 <ion-icon name="arrow-up-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Salary Deposit</h2>
          <span class="date">May 02, 2022</span>
        </div>
        <div class="amount">$200 <ion-icon name="arrow-down-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Central Market</h2>
          <span class="date">May 05, 2022</span>
        </div>
        <div class="amount">$150 <ion-icon name="arrow-up-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Salary Deposit</h2>
          <span class="date">May 02, 2022</span>
        </div>
        <div class="amount">$200 <ion-icon name="arrow-down-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Central Market</h2>
          <span class="date">May 05, 2022</span>
        </div>
        <div class="amount">$150 <ion-icon name="arrow-up-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Salary Deposit</h2>
          <span class="date">May 02, 2022</span>
        </div>
        <div class="amount">$200 <ion-icon name="arrow-down-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Central Market</h2>
          <span class="date">May 05, 2022</span>
        </div>
        <div class="amount">$150 <ion-icon name="arrow-up-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Salary Deposit</h2>
          <span class="date">May 02, 2022</span>
        </div>
        <div class="amount">$200 <ion-icon name="arrow-down-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <div>
          <h2>Central Market</h2>
          <span class="date">May 05, 2022</span>
        </div>
        <div class="amount">$150 <ion-icon name="arrow-up-outline"></ion-icon>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>