<ion-content>
  <ion-row>
    <ion-col size="12" class="login-banner-img">
      <img src="../../assets/img/Online_transactions.gif" alt="">
    </ion-col>
  </ion-row>
  <ion-row class="login-block">
    <ion-col size="12">
      <h1 class="ion-text-center">Sign In</h1>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Email Address</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label class="ion-text-end ion-fg-psw">Forgot Password?</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-input class="form-submit-btn" type="submit" value="Sign In"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <p class="ion-no-margin ion-text-center">I'm a new user. <a href="javascript:void(0)" (click)="signUpPage()">Sign
          Up</a></p>
    </ion-col>
  </ion-row>
</ion-content>