.login-banner-img {
    text-align: center;
    margin-top: -2rem;

    img {
        max-width: 300px;
    }
}

.login-block {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem 2rem 1rem;
    background-color: #f2f2f2;
    border-radius: 3rem 3rem 0 0;

    h1 {
        margin-bottom: 1rem;
        font-weight: 600;
    }

    ion-item {
        --background: transparent;
        --border-color: transparent;
        padding-inline-end: 0;

        ion-input {
            --background: var(--ion-color-primary-contrast);
            border-radius: 0.8rem;
            --padding-start: 1rem;
            --padding-end: 1rem;
        }
    }

    .ion-fg-psw {
        font-size: 80%;
    }

    .form-submit-btn {
        background-color: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        margin-top: 1rem;
        text-align: center;
    }
}